<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Police station</title>
</head>
<body>
    <h2> Add Officer</h2>
    <form action="/policestation/add-officer" method="post">
        <p>Name : <input type="text" name="name"> </p>
        <p>Rank : <select name="rank" id="">
                <% for(i=0;i<officerRank.length;i++){%>
                        <option value="<%=i%>"><%=officerRank[i]%></option>
                    <% }%>
        </select> </p>
            <button type="submit">Register</button></p> 
    </form>
</body>
</html>