<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<div style="float: left;">
    <p><a href="policestation/add">Add police Station</a></p>
    <p><a href="policestation/add-court">Add Court</a></p>
    <p><a href="policestation/add-civilian">Add a Civilian</a></p>
    <p><a href="court/add-judge">Add a Judge</a></p>
    
    <p><a href="policestation/add-officer">Add an Invnestigatio  Oficer</a></p>
</div>
<div style="float: right;">
    <p><a href="case/register">Register a Case</a></p>
    <p><a href="case/add-caseFile">Assign a caseFile</a></p>
    <p><a href="case/register">View Case</a></p>
    <p><a href="case/register">view Criminal History</a></p>

    

</div>

  </body>
</html>
